@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


.App {
    min-height: 100vh;
    display: flex;
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}